.table {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;

  background-color: white;
  text-align: center;

  box-shadow: var(--shadow-small);
}

.thead {
  color: white;
  background-color: black;
  text-transform: uppercase;
}

.td {
  padding: 10px;
  border: 1px solid grey;
  color: black;
}

.th {
  padding: 10px;
  border: 1px solid grey;
  color: white;
}

.tr {
  &:nth-of-type(odd) {
    background-color: gray;
  }
}
